/* Shared */
.chatbot {
  /* Change location on screen if needed */
  position: fixed;
  bottom: 0;
  right: 10vw;
  width: 350px;
  border-radius: 25px 25px 0 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Headers */
.chatbot-header-hidden,
.chatbot-header {
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(to right, skyblue, grey);
  padding: 10px;
}

.chatbot-icon {
  width: 50px;
  height: 50px;
  place-self: center;
  border-radius: 50%;
}

.chatbot-header-msg,
.chatbot-header-msg {
  place-self: center;
  color: white;
  font-size: large;
}

.chatbot-toggle {
  width: 50px;
  height: 50px;
  place-self: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: x-large;
}

.chatbot button:hover {
  cursor: pointer;
}

/* Container */
.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 500px;
}

/* Messages */
.chatbot-messages {
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  overflow-y: auto;
  padding: 10px 20px;
}

.chatbot-messages * {
  width: fit-content;
  border-radius: 25px;
  padding: 10px 20px;
}

.user {
  align-self: flex-end;
  background-color: lightgray;
}

.bot {
  align-self: flex-start;
  background-color: skyblue;
}

/* Input */
.chatbot-input {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-top: 2px solid grey;
  padding: 10px 0 10px 10px;
}

.chatbot-input textarea {
  width: 275px;
  height: 75px;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.chatbot-input button {
  border: none;
  background-color: #ffffff;
  font-size: x-large;
}
